<!-- templates/home.html -->

{% extends 'base.html' %}
{% block style %}
<link href="../static/styles/index.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="add-post">
    <img src="https://img.flawlessfiles.com/_r/100x100/100/avatar/zoro_normal/av-zz-04.jpeg">
    <a href="./add_post">What's on your mind, name?</a>
    <a href="./add_post" class="plus">+</a>
</div>
{% for element in posts %}
        <div class="post">
            <div class="detals">
                <div class="avtor">
                   <img src="https://img.flawlessfiles.com/_r/100x100/100/avatar/zoro_normal/av-zz-04.jpeg">
                    <div>
                        <p>
                            {{element.username }} 
                            {% if current_user.name == element.username %}
                            <span>(You are the author of this post
                                )</span>
                            {% endif %}
                        </p>
                        <span>15 minute ago</span>
                 </div>
                </div>
                {% if current_user.name == element.username %}
                <div class="more">
                    <button class="btn">...</button>
                    <div>
                        <a class="item" href="/edit{{ element.id }}">edit</a>
                        <a  href="/delete{{ element.id }}" class="item">delete</a>
                    </div>
                </div> 
                {% endif %}
            </div>
            <img class="post-img" src="{{element.img}}">
            <h2 class="title">{{element.title}}</h2>
            <div class="line"></div>
            <div class="reactions">
                <form action="{{ url_for('process_data') }}" method="post" class="button">
                    <input type="hidden" name="post_id" value="{{ element.id }}">
                    <button type="submit" class="like">
                    <div class="icon">i</div>
                    <div style="display: block;">
                        <p class="like">like</p>
                        <span>{{ element.like }}</span>
                    </div>
                    </button>
                </form>
                <button class="button">
                    <div class="icon">i</div>
                    <div>
                        <p>dislike</p><span>1342</span>
                    </div>
                </button>
                <button class="button">
                    <div class="icon">i</div>
                    <div>
                        <p>comment</p><span>323</span>
                    </div>
                </button>
                <button class="button">
                    <div class="icon">i</div>
                    <div>
                        <p>share</p><span>3232</span>
                    </div>
                </button>
                    <div class="save icon">i</div>
            </div>
        </div>
        
{% endfor %}
        <script>
            const imageElement = document.querySelectorAll('.post-img');
            const btns = document.querySelectorAll('.btn');

            for(let i = 0; i < btns.length; i++){
                btns[i].addEventListener('click', function() {
                    document.querySelectorAll('.more div')[i].classList.toggle('visible')
                });
                
                imageElement[i].addEventListener('click', function() {
                    window.open(imageElement[i].src, '_blank');
                });
            }
           
        </script>
{% endblock %}

